

<div class="guest-main">
    <nav class="navbar navbar-light">
        <a class="navbar-brand" routerLink="/guest">Home</a>
        <a class="navbar-brand" routerLink="/register">Register</a>
        <a class="navbar-brand" routerLink="/login">Login</a>
    </nav>
    <div class="top-header">
        <h1>Articles</h1>
        <span *ngIf="!isLoggedIn">You are viewing as a Guest</span>
    </div>
    <hr>
    <ul *ngFor="let article of articles">
        <h2>{{article.title}}</h2>
        <p [innerHTML]="article.text"></p>
        <span>Published on: {{article.date}}</span><br/>
        <span>Published by: {{article.author}}</span>
        <hr>
    </ul>
</div>